$Color-Primary-Default: #00a199;
$Color-Primary-Light: #14c3bb;

$Color-Secondary-Dark: #f4ca80;
$Color-Secondary-Default: #ffdc9e;
$Color-Secondary-Light: #ffe9c3;
$Color-Secondary-Tint: #fcf9e9;

$Color-Basic-Black: #515151;
$Color-Basic-White: #ffffff;
